<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="people" class="com.itzcn.People"></bean>
	<bean id="peopleAdvice" class="com.itzcn.PeopleBeforeAdvice"></bean>
	
	<bean id="ProxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="interceptorNames">
			<idref local="DefaultAdvisor"/>
		</property>
		<property name="target" ref="people"></property>
	</bean>
	
	<bean id="DefaultAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="patterns">
			<list>
				<value>.*ing</value>
			</list>
		</property>
		<property name="advice" ref="peopleAdvice"></property>
	</bean>
	
	


</beans>