<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
  <filter-name>encodingFilter</filter-name>
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  <init-param>
   <param-name>encoding</param-name>
   <param-value>UTF-8</param-value>
  </init-param>
</filter>
<filter-mapping>
  <filter-name>encodingFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
   <filter>
  	<filter-name>adminLogin</filter-name>
  	<filter-class>com.itzcn.filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>adminLogin</filter-name><!-- 指明过滤器名称 -->
  	<url-pattern>/user/*</url-pattern><!-- 定义过滤器范围 -->
  	<url-pattern>/dept/*</url-pattern>
  	<url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
   <!--  在web应用启动是自动形成一个spring容器 -->  
    <listener>    
        <listener-class>  
            org.springframework.web.context.ContextLoaderListener   
        </listener-class>  
    </listener>  
    <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- 初始化上下文对象 -->
  	<init-param>
  		<!-- 参数名称 -->
  		<param-name>contextConfigLocation</param-name>
  		<!-- 加载配置文件 -->
  		<param-value>/WEB-INF/applicationContext.xml</param-value>
  	</init-param>
  	<!-- 设置启动的优先级 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>
  </web-app>
