@charset "utf-8";

/* ==================== supeV视频单页 ==================== */
/* 视频播放 */
.col3 h1 { font-size:16px; padding:7px 0 7px 0; }
.single_player { margin-bottom:8px; }
.watchtoolbar { width:100%; margin:10px 0 20px 0; overflow:hidden; }
.watchtoolbar dl dt { float:left; width:90px; height:64px; background:url(../images/watchup_bg.gif) no-repeat; font-size:15px; font-weight:bold; text-align:center; color:#FFF; }
.watchtoolbar dl dt { text-align:center; }
.watchtoolbar dl dt span { display:block; }
.watchtoolbar dl dt a { color:#FFF !important; }
.watchtoolbar dl dt .top_12px { padding:12px 0 1px !important; padding:12px 0 3px; font-size:15px; }
.watchtoolbar dl dd {padding-left:10px;  width:450px; }
.watchtoolbar dl dd span { float:left; }
.watchtoolbar dl dd em { float:left; margin:0 12px 0 4px; font-style:normal; }
.watchtoolbar .wtb_list { width:600px; padding-top:4px; margin-bottom:8px; overflow:hidden; }
.watchtoolbar .wtb_list a { float:left; display:block; width:94px; height:28px; margin-right:8px; text-indent:-9999px; overflow:hidden; }
.ratingbox{padding-left:5px;font-size:13px;}
.watchtoolbar .wtb_collect { background:url(../images/btn_watchtoolbar.gif) no-repeat left top; }
.watchtoolbar .wtb_addalbum { background:url(../images/btn_watchtoolbar.gif) no-repeat 0 -28px; }
.watchtoolbar .wtb_addlist { background:url(../images/btn_watchtoolbar.gif) no-repeat 0 -56px; }
.watchtoolbar .wtb_report { background:url(../images/btn_watchtoolbar.gif) no-repeat 0 -83px; }
.scorebk { width:80px; height:16px; background:url(../images/rating.gif) no-repeat; }
.scorebk .score { height:16px; background:url(../images/rating.gif) scroll 0% 100%; }

/* 加入班级、加入点播单 */
.add_special { height:22px; padding:15px 0 3px 15px; clear:both; overflow:hidden;}
	.add_special label { float:left; }
	.add_special select { float:left; width:170px; margin:-4px 0 0 3px; }
	.add_special button { float:left; width:50px; height:20px; margin:-3px 20px 0 3px; border:0; background:url(../images/btn_submit.gif) no-repeat; text-indent:-9999px; cursor:pointer; }
	.new_addsp { padding:4px 0 10px 15px;}
.st_special { background:url(../images/btn_fav.gif) no-repeat left bottom; }
.video_special a:link{
color:#35470E; text-decoration:none;}
.video_special a:active{
color:#35470E; text-decoration:none;}
.video_special a:visited{
color:#35470E; text-decoration:none;}
.video_special a:hover{
color:#F87A41; text-decoration:none;}
.right_kclb_zname{cursor:hand;font-size:14px;font-weight:bold;height:25px;line-height:25px;padding-top:10px;padding-left:10px; overflow:hidden;}
.right_kclb_jie{padding-left:15px;font-size:12px; height:20px;overflow:hidden; line-height:20px;width:200px;}
.right_kclb_jie a:link{color:#F87A41; text-decoration:none;}
.right_kclb_jie a:active{color:#F87A41; text-decoration:none;}
.right_kclb_jie a:visited{color:#F87A41; text-decoration:none;}
.right_kclb_jie a:hover{color:#06A6F6; text-decoration:none;}
.right_jushou{float:right;left:120px;position:absolute;}
.special_videolist{ background-color:#EEF9FF;padding:5px;border-top:3px solid #FF8902;border-left:1px solid #C6E6FF;border-right:1px solid #C6E6FF;border-bottom:1px solid #C6E6FF;}
.special_videolist_title{ background:url(../images/special_videolist_title_bg.gif) no-repeat; height:35px;padding-left:10px;padding-top:4px; color:#ffffff;font-size:16px;font-weight:bold;}
.special_videolist_title span{padding-left:30px;padding-top:3px;color:#20537A;font-size:12px;}
.special_videolist_content{ background-color:#FFFFFF;border:1px solid #C7E5FA;margin:5px; }
.video_special{margin:0px;padding-left:5px;}
.video_special_zname{cursor:hand;font-size:18px;font-weight:bold;height:30px;line-height:30px;margin-top:5px; background:url(../images/special.gif) no-repeat;padding-left:25px;}
.jie_name{padding-left:30px;font-size:14px; height:25px; line-height:25px;margin-top:5px; background:url(../images/jie.gif) no-repeat;margin-left:30px;}
.jie_description{padding:0px 3px 0px 3px;font-size:11px; line-height:20px;margin:0px 10px 0px 55px; border:1px #EBEBEB dashed; background:#FCF9E6;}

.kclb_name{
clear:both;
padding-left:30px;
font-size:14px;
height:25px;
line-height:25px;
margin-top:5px;
background:url(../images/jie.gif) no-repeat;
margin-left:0px;
}
.kclb{
	display:inherit; 
	clear:both;
	float:left; 
	width:640px; 
	padding:0px 3px 0px 3px;
	margin:0px 10px 0px 30px;
	border:1px #EBEBEB dashed;
	background:#FCF9E6;
	}
.kclb a{
float:left;
display:block;
width:300px;
font-size:12px;
line-height:24px;
overflow:hidden;
white-space:nowrap;
}