.text1 {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}

a:link {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
a:hover {
	font-size: 9pt;
	color: #0033CC;
	text-decoration: none;
}
a {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.title1 {
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-indent: 10pt;
}
.b:link {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
}
.b:hover {
	font-size: 9pt;
	color: #993300;
	text-decoration: none;
}
.title2 {
	filter: Invert;
}
input {
	font-size: 9pt;
	color: #000000;
	text-decoration: none;
	border: 1px solid #666666;
}
