@charset "utf-8";
/* CSS Document */
body{color:#000;font-size:12px;padding:0px;margin:0 auto;}
*{margin:0px;padding:0;}
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}
.clear{clear:both;}
#header{width:790px;margin:10px auto 0;}
.h_lt{width:360px;height:58px;float:left;}

.h_rt a:link{
color:#000000;
text-decoration:none;
font-size:12px;
}
.h_rt a:visited{
color:#000000;
text-decoration:none;
font-size:12px;
}
.h_rt a:active{
color:#000000;
text-decoration:none;
font-size:12px;
}
.h_rt a:hover{
color:#0066FF;
text-decoration:none;
font-size:12px;
}
.h_lt img{width:158px;height:58px;float:left;border:none;}
.h_rt{width:400px;float:left;padding-top:10px;}
.h_rt img{margin-left:10px;float:left;border:none;}
.h_rt .userbar{line-height:25px;text-align:center;float:left;margin-left:5px;}
.h_rt .userbar a{color:#000;}

#center{
    width:790px;margin:0px auto;padding-top:20px;
}
.c_lt{
    width:533px;margin:0px auto;
}
.c_lt .tt{
    width:533px;height:34px;background:url(images/login_tt.gif) no-repeat;padding-top:25px;text-indent:175px;float:left;
}
.c_lt .content{
    width:493px;background:url(images/login_c.gif) repeat-y;padding:20px 20px 10px 20px;float:left;
}
.c_lt .content p{
    line-height:25px;margin:5px 0px 5px 15px;
}
.c_lt .content p label{
    float:left;margin-left:-130px;padding-top:2px;text-align:right;width:180px;}
.c_lt .content p input{border:1px solid #AADAFE;height:23px;background:#EBF8FF;padding-left:3px;line-height:23px;color:#2866A3;font-weight:bold;}
#descriptionid{
border:1px solid #AADAFE;background:#EBF8FF;padding-left:3px;line-height:23px;color:#2866A3;font-weight:bold;
}
.c_lt .content p input.tk{width:13px;height:13px;margin-top:10px;border:none;background:none;}
.c_lt .content p input.tj{width:81px;height:35px;border:none;margin-left:130px;background:url(images/login_tj.gif) no-repeat;}
.c_lt .content p a{
    color:#2965A4; text-decoration:underline;
}
.c_lt .content p span{
    margin-left:20px;width:100%;
}
.okimg {
	DISPLAY: none; VERTICAL-ALIGN: top
}
.d_on {
	BORDER-RIGHT: #ffcc00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffcc00 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; BORDER-LEFT: #ffcc00 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ffcc00 1px solid; BACKGROUND-COLOR: #ffffdd
}
.d_ok {
	BORDER-RIGHT: #00be00 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #00be00 1px solid; PADDING-LEFT: 24px; BACKGROUND: url(/img/reg/li_ok.gif) #e6ffe6 no-repeat 4px 50%; PADDING-BOTTOM: 2px; BORDER-LEFT: #00be00 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #00be00 1px solid;margin-left:68px;width:287px;
}
.d_err {
	BORDER-RIGHT: #ff3300 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ff3300 1px solid; PADDING-LEFT: 24px; BACKGROUND: url(/img/reg/li_err.gif) #fff1e4 no-repeat 4px 50%; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff3300 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #ff3300 1px solid;width:287px;margin-left:68px;
}
.d_default {
	margin-left:68px;color:#B6B6B6;width:287px;border-style:solid;border-color:#F6FBFF;border-width:1px;padding:2px 0px;
}

.ob_pws {DISPLAY: inline; FONT-SIZE: 9pt; FLOAT: left; WIDTH: 183px;margin-left:68px; BACKGROUND-COLOR: #f1f1f1; TEXT-ALIGN: center;height:25px;}
.ob_pws0 {DISPLAY: inline; FLOAT: left; WIDTH: 60px;height:20px;line-height:25px;}
.ob_pws1 {DISPLAY: inline; FLOAT: left; WIDTH: 60px;height:20px; line-height:25px; BACKGROUND-COLOR: #ff3300}
.ob_pws2 {DISPLAY: inline; FLOAT: left; WIDTH: 60px;height:20px; line-height:25px; BACKGROUND-COLOR: #ffff99}
.ob_pws3 {DISPLAY: inline; FLOAT: left; WIDTH: 60px;height:20px; line-height:25px; BACKGROUND-COLOR: #00cc66}
.c_lt .ft{width:533px;height:24px;background:url(images/login_bt.gif) no-repeat;float:left;}
.c_rt{width:217px;float:left;padding-left:10px;}
.c_rt ul{list-style:none;margin:0px;padding:0px;}
.c_rt ul li{
    height:65px;width:157px;background:url(images/login_rt.gif) no-repeat;font-size:14px;color:#666;padding-left:55px;padding-top:5px;margin-top:5px;
}
.c_rt ul li a {color:#666}
.c_rt ul li.zq{background:url(images/login_ft.gif) no-repeat;}
.c_rt ul li.sj{background:none;color:#2866A3;font-size:12px;padding:0px;width:217px;}
.c_rt ul li p{margin-top:5px;line-height:18px;font-size:12px;}
.c_lt .ft .c_rtb{width:217px;padding-left:10px;}
#foot{width:790px;margin:0px auto;padding-top:20px;}
.bh{height:33px;background-color:#F6FBFF;width:790px;}
.bh .lt{background:url(images/login_foot.gif) no-repeat;width:90px;height:23px; display:block;color:#2964A0;text-align:center;padding-top:10px;font-weight:bold;float:left;}
.bh ul{line-height:33px;}
.bh ul li{FLOAT: left; MARGIN-LEFT: 10px; LIST-STYLE-TYPE: none;width:210px;text-align:left;}
.bh ul li a{color:#2964A0;text-decoration:underline;}
.cop{margin-top:10px;text-align:center;line-height:25px;color:#666;}
.cop a{color:#666;}


/* 日历，同discuz日历 */
#calendar { border:1px solid #9DB3C5; margin-bottom:0.8em;}
	#calendar td { padding:2px; font-weight:bold; background:#FAFAFA; }
	#calendar_week td { height:2em; line-height:2em; border-bottom:1px solid #DDD; }
	#hourminute td { padding:4px 2px; border-bottom:1px solid #DDD; }
		.calendar_expire, .calendar_expire a:link, .calendar_expire a:visited { font-weight:normal; color:#666; }
		.calendar_default, .calendar_default a:link, .calendar_default a:visited { color:#069; }
		.calendar_checked { font-weight:bold; color:090; }
		td.calendar_checked, span.calendar_checked{ background:#DDD; }
		.calendar_today, .calendar_today a:link, .calendar_today a:visited { font-weight:bold; color:#000; }
		#calendar_header td { width:30px; height:20px; border-bottom:1px solid #DDD; font-weight:normal; }
		#calendar_year { display:none; z-index:10; background:#F5FAFE; line-height:130%; position:absolute; }
			#calendar_year .col { border:1px solid #DDD; padding:4px; float:left; background:#F5FAFE; }
		#calendar_month { border:1px solid #DDD; padding:4px; z-index:11; background:#F5FAFE; position:absolute; line-height:130% }
