@CHARSET "UTF-8";
.lanmu_font{
	border: 1; color: white; font-family: 粗体
}
/*首页——在研科目下边的item
*/
.lanmu_item_parent{
	background-color: white; width: 100%; float: right; border: 1px solid #CCC
}
.lanmu_item_children{
	width: 100%; padding-left: 3; padding-bottom: 5; max-height: 3em; float: left;
}
.lanmu_item_children_title{
	width: 100%; padding-left: 3; padding-bottom: 5; max-height: 3em; float: left;font-size: 16;
}
.lanmu_item_children_time{
	padding-left: 7; padding-bottom: 5; width: 100%; max-height: 2em; float: left;font-size: 10
}
.lanmu_item_children_jianjie{
	padding-left: 7; padding-bottom: 5; width: 100%; max-height: 6em; float: left;font-size: 14
}
/*新闻下面item
*/
.news_item_partent{
	background-color: white; width: 100%;
}
.news_item_partent_title{
background-color: #E5E5E5;  width: 100%;font-size: 20;float: left;
	}
.news_item_partent_content{
background-color: #F0F0F0;  width: 100%;font-size: 16;float: left;
	}
.news_item_partent{
	background-color: white; width: 100%;
}
.tag_news_item_partent_title{
background-color: #E5E5E5;  width: 75%;font-size: 20;float: left;padding-left: 3
	}
.tag_news_item_partent_content{
background-color: #F0F0F0;  width: 75%;font-size: 14;float: left;padding: 10
	}

/*production
*/

.titile_td{
	background-color: #E5E5E5; font-size: 19;text-align: center;padding-top:5; 5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}
.item_td{
	background-color:  #F0F0F0;font-size: 15;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}
/*teachers&numbers*/
.name{
	background-color:  #F0F0F0;font-family: 粗体;font-size: 19;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}
.sex{
	background-color: #E5E5E5;font-size: 15;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;	
}
.left{
	background-color:  #F0F0F0;font-size: 15;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;		
}
.lavel{
	background-color: #E5E5E5;font-size: 15;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;	
}
.neirong_title{
	background-color:  #F0F0F0;font-size: 19;padding:5;padding-bottom: 5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}
.neirong_content{
	background-color: #E5E5E5; font-size: 13;text-align: center;padding-top:5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}
.neirong_content_1{
	background-color: #F0F0F0; font-size: 13;padding-top:5;padding-bottom: 5;padding-left: 5;padding-right: 5;
}

/*将div背景色置为白色，横向铺满父控件
*/
.div_fullWhide_white{
	width: 100%; background-color: white;
}

/*管理*/
.biaoti{
	font-size:23;color: white; font-family: 粗体
}
.title_1{
	font-size:18;color: white; font-family: 粗体
}
.title_2{
	font-size:15;color: white; 
}
.title_normal{
	font-size:13;color: white;
}
.RF_items{
	background-color: white;width: 100%; float: right; border: 1px solid #CCC
}
.link_font{
	color: white;
}
.manager_passAndName{
	background-color: #F0F0F0; font-size: 14;float: left;padding: 10
}