BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #EBECB7; PADDING-BOTTOM: 0px; MARGIN: 8px; COLOR: #333333; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif; voice-family: inherit
}
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif; voice-family: inherit
}
TH {
	FONT-SIZE: 9pt; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif; voice-family: inherit
}
H3 {
	FONT-SIZE: small; FONT-FAMILY: "trebuchet ms", "lucida grande", verdana, arial, geneva, lucida, sans-serif; voice-family: inherit
}
H1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-SIZE: 170%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	FONT-SIZE: small
}
DIV.LeftNavHeader {
	BORDER-TOP: #666666 1px solid; MARGIN-TOP: 23px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: #b6c9e7; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #333333; PADDING-TOP: 3px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 17px; TEXT-ALIGN: center
}
DIV.Pager {
	FLOAT: right; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 4px
}
DIV.Pager DIV {
	FLOAT: left; MARGIN: 1px 2px
}
DIV.Pager A:link {
	CLEAR: none; PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px 2px; PADDING-TOP: 0px
}
DIV.Pager A:visited {
	CLEAR: none; PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 1px 2px; PADDING-TOP: 0px
}
DIV.Pager A.Current:link {
	BORDER-TOP: #bbbbbb 1px solid; FONT-WEIGHT: bold; MARGIN: 0px 2px; BORDER-BOTTOM: #bbbbbb 1px solid
}
DIV.Pager A.Current:visited {
	BORDER-TOP: #bbbbbb 1px solid; FONT-WEIGHT: bold; MARGIN: 0px 2px; BORDER-BOTTOM: #bbbbbb 1px solid
}
A:link {
	FONT-SIZE: small;FONT-WEIGHT: bold; COLOR: #002c99; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: small;FONT-WEIGHT: bold; COLOR: #002c99; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: small;COLOR: #cc0066; BACKGROUND-COLOR: #f5f5f5; TEXT-DECORATION: underline
}
A.Button:link {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333333 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 95%; BACKGROUND: #6b86b3; FLOAT: left; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #333333 1px solid; WIDTH: 70px; COLOR: #ffffff; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: center
}
A.Button:visited {
	BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333333 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 95%; BACKGROUND: #6b86b3; FLOAT: left; PADDING-BOTTOM: 2px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #333333 1px solid; WIDTH: 70px; COLOR: #ffffff; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: center
}
UNKNOWN {
	WIDTH: auto; min-width: 70px
}
A.Button:hover {
	BACKGROUND: #ffffff; COLOR: #cc0066; TEXT-DECORATION: underline
}
A.Thumbnail {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 12px 12px 12px 0px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #fff
}
A.Thumbnail:hover {
	BACKGROUND-COLOR: #ffecf5
}
A.Thumbnail IMG {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #666 1px solid; MARGIN: 12px; BORDER-LEFT: #666 1px solid; BORDER-BOTTOM: #666 1px solid
}
P.ThumbnailTitle {
	FONT-SIZE: 160%; FLOAT: left; MARGIN-LEFT: 13%; PADDING-TOP: 48px
}
P.ThumbnailTitle SPAN {
	FONT-SIZE: 60%
}
P.InlineSubtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; TEXT-TRANSFORM: uppercase; PADDING-TOP: 12px; BORDER-BOTTOM: #ccc 1px solid
}
A.ButtonInline:link {
	CLEAR: none; BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333333 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #6b86b3; PADDING-BOTTOM: 2px; BORDER-LEFT: #333333 1px solid; WIDTH: 100px; COLOR: #ffffff; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: center
}
A.ButtonInline:visited {
	CLEAR: none; BORDER-RIGHT: #333333 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #333333 1px solid; DISPLAY: block; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 90%; BACKGROUND: #6b86b3; PADDING-BOTTOM: 2px; BORDER-LEFT: #333333 1px solid; WIDTH: 100px; COLOR: #ffffff; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #333333 1px solid; TEXT-ALIGN: center
}
UNKNOWN {
	FLOAT: left; MARGIN-LEFT: 4px
}
A.ButtonInline:hover {
	BACKGROUND: #ffffff; COLOR: #cc0066; TEXT-DECORATION: underline
}
BR.Clear {
	CLEAR: both
}
DIV#BlogTitle A:link {
	COLOR: #6b86b3
}
DIV#BlogTitle A:visited {
	COLOR: #6b86b3
}
DIV#BlogTitle A:hover {
	COLOR: #cc0066
}
DIV#BlogTitle A:active {
	COLOR: #cc0066
}
DIV#LeftNav LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV#LeftNav UL {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 4px 4px 0px; OVERFLOW: hidden; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DIV.Action {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: #eeeeee; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; COLOR: #333333; PADDING-TOP: 8px; BORDER-BOTTOM: #aaaaaa 1px dashed
}
DIV#Main DIV.Edit {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: #f5f5f5; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 4px; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #aaaaaa 1px solid
}
DIV.Dialog {
	BORDER-RIGHT: #aaaaaa 1px solid; BORDER-TOP: #aaaaaa 1px solid; MARGIN-LEFT: auto; BORDER-LEFT: #aaaaaa 1px solid; WIDTH: 300px; MARGIN-RIGHT: auto; BORDER-BOTTOM: #aaaaaa 1px solid
}
DIV.DialogTitle {
	CLEAR: left; PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 105%; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 2px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px dashed
}
DIV.DialogBody {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 2px; COLOR: #333333; PADDING-TOP: 12px
}
DIV#Main DIV.Edit P {
	MARGIN: 0px 0px 10px
}
DIV.Edit A.Toggle {
	FLOAT: right; MARGIN: 1px 0px
}
DIV.ImageList {
	PADDING-LEFT: 12px; PADDING-BOTTOM: 18%
}
DIV.ImageThumbnail {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; MARGIN-TOP: 12px; BACKGROUND: #f5f5f5; FLOAT: left; VERTICAL-ALIGN: bottom; OVERFLOW: hidden; BORDER-LEFT: #dddddd 1px solid; WIDTH: 144px; COLOR: #333333; MARGIN-RIGHT: 12px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 180px; TEXT-ALIGN: center
}
DIV.ImageThumbnail IMG {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; DISPLAY: block; MARGIN-LEFT: auto; BORDER-LEFT: #666666 1px solid; MARGIN-RIGHT: auto; BORDER-BOTTOM: #666666 1px solid
}
DIV.ImageThumbnail DIV.ImageThumbnailImage {
	MARGIN-TOP: 12px; MARGIN-BOTTOM: 8px
}
DIV.ImageThumbnail DIV.ImageThumbnailTitle {
	FONT-SIZE: 83%; MARGIN: 0px 12px 8px
}
INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 95%; PADDING-BOTTOM: 2px; WIDTH: auto; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: "lucida grande", verdana, arial, geneva, lucida, sans-serif; BACKGROUND-COLOR: #fff
}
TEXTAREA {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 95%; PADDING-BOTTOM: 2px; WIDTH: auto; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: "lucida grande", verdana, arial, geneva, lucida, sans-serif; BACKGROUND-COLOR: #fff
}
SELECT {
	FONT-SIZE: 95%; WIDTH: auto; COLOR: #000000; FONT-FAMILY: "lucida grande", verdana, arial, geneva, lucida, sans-serif; BACKGROUND-COLOR: #fff
}
OPTION {
	FONT-SIZE: 95%; WIDTH: auto; COLOR: #000000; FONT-FAMILY: "lucida grande", verdana, arial, geneva, lucida, sans-serif; BACKGROUND-COLOR: #fff
}
UNKNOWN {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UNKNOWN {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
IFRAME {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BORDER-LEFT: #666666 1px solid; BORDER-BOTTOM: #666666 1px solid
}
DIV#Main DIV.Edit P.Label {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; MARGIN: 0px 0px 2px; COLOR: #111111
}
LABEL {
	FONT-WEIGHT: bold; FONT-SIZE: 85%; MARGIN: 0px 0px 2px; COLOR: #111111
}
LABEL {
	COLOR: #111111
}
LABEL.Block {
	CLEAR: both; MARGIN-TOP: 8px; DISPLAY: block
}
DIV.MessagePanel {
	BORDER-RIGHT: #cccccc 1px dashed; PADDING-RIGHT: 12px; BORDER-TOP: #cccccc 1px dashed; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND: #eeeeee; PADDING-BOTTOM: 12px; BORDER-LEFT: #cccccc 1px dashed; COLOR: #333333; PADDING-TOP: 12px; BORDER-BOTTOM: #cccccc 1px dashed
}
DIV.ErrorPanel {
	BORDER-RIGHT: #dbdb64 1px dashed; PADDING-RIGHT: 12px; BORDER-TOP: #dbdb64 1px dashed; PADDING-LEFT: 12px; FONT-WEIGHT: bold; BACKGROUND: #ffffcc; PADDING-BOTTOM: 12px; BORDER-LEFT: #dbdb64 1px dashed; COLOR: #660033; PADDING-TOP: 12px; BORDER-BOTTOM: #dbdb64 1px dashed
}
DIV.ErrorPanel IMG {
	FLOAT: left
}
DIV.MessagePanel IMG {
	FLOAT: left
}
DIV.ErrorPanel DIV {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 44px
}
DIV.MessagePanel DIV {
	MARGIN-TOP: 8px; MARGIN-BOTTOM: 8px; MARGIN-LEFT: 44px
}
DIV#Main DIV.Edit P.ValueLabel {
	FONT-WEIGHT: bold; MARGIN: 2px 0px 8px; COLOR: #000000
}
DIV#SiteNav {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 90%; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-ALIGN: right
}
DIV {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
UNKNOWN {
	PADDING-BOTTOM: 5px
}
IMG {
	BORDER-TOP-WIDTH: 0px; DISPLAY: block; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
IMG.Inline {
	DISPLAY: inline
}
IMG#HeaderLogo {
	DISPLAY: inline; MARGIN: 10px 0px 10px 139px
}
IMG#PoweredBy {
	FLOAT: right
}
SPAN.BreadcrumbLabel {
	COLOR: #666699
}
TABLE#BodyTable {
	CLEAR: left; BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #666666 1px solid; COLOR: #333333; BORDER-BOTTOM: #666666 1px solid
}
TABLE#Footer {
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 8px; BACKGROUND: #ffffff; BORDER-LEFT: #666666 1px solid; COLOR: #333333; BORDER-BOTTOM: #666666 1px solid
}
TABLE#Footer TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BORDER-BOTTOM: #6b86b3 1px solid
}
TABLE.Listing {
	MARGIN: 0px 0px 8px; WIDTH: 100%; BORDER-BOTTOM: #6b86b3 3px solid
}
DIV.CollapsibleHeader {
	PADDING-RIGHT: 12px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 120%; BACKGROUND: #e5eef7; PADDING-BOTTOM: 2px; MARGIN: 12px 0px 0px; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px dashed
}
DIV.CollapsibleTitle {
	CLEAR: left; PADDING-RIGHT: 12px; BORDER-TOP: #aaaaaa 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 105%; BACKGROUND: #e5e5e5; PADDING-BOTTOM: 2px; MARGIN: 12px 0px 0px; WIDTH: auto; COLOR: #333333; PADDING-TOP: 2px; BORDER-BOTTOM: #aaaaaa 1px dashed
}
DIV.CollapsibleHeader A:link {
	DISPLAY: block; FONT-SIZE: 75%; FLOAT: right; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none
}
DIV.CollapsibleHeader A:visited {
	DISPLAY: block; FONT-SIZE: 75%; FLOAT: right; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none
}
DIV.CollapsibleTitle A:link {
	DISPLAY: block; FONT-SIZE: 75%; FLOAT: right; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none
}
DIV.CollapsibleTitle A:visited {
	DISPLAY: block; FONT-SIZE: 75%; FLOAT: right; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: none
}
DIV.CollapsibleHeader A:link {
	MARGIN: 2px 0px
}
DIV.CollapsibleHeader A:visited {
	MARGIN: 2px 0px
}
DIV.CollapsibleTitle A:link {
	MARGIN: 2px 0px; COLOR: #ffffff
}
DIV.CollapsibleTitle A:visited {
	MARGIN: 2px 0px; COLOR: #ffffff
}
DIV.CollapsibleHeader A:hover {
	
}
DIV.CollapsibleTitle A:hover {
	
}
TABLE.Listing TD {
	BORDER-BOTTOM: #e6e6e6 1px solid
}
TABLE.Listing TD {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
TABLE.Listing TH {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
TABLE.Listing CAPTION {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
H2 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
TABLE.Listing TR {
	BACKGROUND: #f5f5f5
}
TABLE.Listing TH {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; BORDER-BOTTOM: #6b86b3 1px solid
}
TABLE.Listing TD.Header {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; BORDER-BOTTOM: #6b86b3 1px solid
}
TABLE.Listing TR.Header TD {
	FONT-WEIGHT: bold; BACKGROUND: #ffffff; BORDER-BOTTOM: #6b86b3 1px solid
}
TABLE.Listing TR.Alt {
	BACKGROUND: #ffffff
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
TD DIV#LeftNavHeader {
	BORDER-TOP: #666666 1px solid; MARGIN-TOP: 23px; FONT-WEIGHT: bold; FONT-SIZE: 80%; BACKGROUND: #6b86b3; TEXT-TRANSFORM: uppercase; WIDTH: auto; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: #666666 1px solid; HEIGHT: 17px; TEXT-ALIGN: center
}
TD#Body {
	BORDER-LEFT: #333333 1px solid
}
TD#Header {
	BORDER-TOP: #6b86b3 3px solid
}
TD.NavHeaderRow {
	BACKGROUND: url(bg_tabs.gif) #ffffff repeat-x
}
TD.NavLeftCell {
	WIDTH: 160px
}
TR {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
UL#TopNav {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; HEIGHT: 24px
}
UL#TopNav A {
	BORDER-RIGHT: #949991 1px solid; PADDING-RIGHT: 11px; BORDER-TOP: #949991 1px solid; DISPLAY: block; PADDING-LEFT: 11px; FONT-WEIGHT: normal; BACKGROUND: #cfe0f8; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #949991 1px solid; WIDTH: 45px; COLOR: #000000; PADDING-TOP: 3px; HEIGHT: 17px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
UNKNOWN {
	WIDTH: auto
}
#TopNav {
	WIDTH: 590px
}
UNKNOWN {
	min-width: 560px
}
BODY#Posts A#TabPosts {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Articles A#TabArticles {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Feedback A#TabFeedback {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Links A#TabLinks {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Galleries A#TabGalleries {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Stats A#TabStats {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
BODY#Options A#TabOptions {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
UL#TopNav A.Here:link {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; OVERFLOW: hidden; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
UL#TopNav A.Here:visited {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; OVERFLOW: hidden; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
UL#TopNav A.Here:hover {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; OVERFLOW: hidden; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
UL#TopNav A.Here:active {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; Z-INDEX: 200; BACKGROUND: #b6c9e7; OVERFLOW: hidden; BORDER-LEFT: #6f736d 1px solid; COLOR: #000000; POSITION: relative; TEXT-DECORATION: none
}
UL#TopNav A:hover {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; BORDER-LEFT: #6f736d 1px solid; COLOR: #cc0066; TEXT-DECORATION: underline
}
UL#TopNav A:active {
	BORDER-RIGHT: #6f736d 1px solid; BORDER-TOP: #6f736d 1px solid; BORDER-LEFT: #6f736d 1px solid; COLOR: #cc0066; TEXT-DECORATION: underline
}
UL#TopNav LI {
	PADDING-RIGHT: 2px; DISPLAY: block; FONT-SIZE: 85%; FLOAT: left; MARGIN: 0px
}
#BlogTitle {
	CLEAR: none; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 170%; Z-INDEX: 10; FLOAT: right; PADDING-BOTTOM: 4px; COLOR: #333333; MARGIN-RIGHT: 8px; PADDING-TOP: 4px; LETTER-SPACING: -1px; POSITION: relative; TOP: 40px; TEXT-ALIGN: right
}
#LeftNav {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 85%; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#Main {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px
}
#SubNav {
	CLEAR: none; PADDING-RIGHT: 8px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 8px; FONT-SIZE: 85%; Z-INDEX: 100; BACKGROUND: #b6c9e7; PADDING-BOTTOM: 2px; MARGIN: 0px; BORDER-LEFT: #666666 1px solid; COLOR: #000; PADDING-TOP: 3px; POSITION: relative; TOP: -1px; HEIGHT: 13px
}
#SubNav A:link {
	COLOR: #001e6a
}
#SubNav A:visited {
	COLOR: #001e6a
}
#SubNav A:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
