<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/ch15"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/itzcn/entity/User.hbm.xml</value>
				<value>com/itzcn/entity/Admin.hbm.xml</value>
				<value>com/itzcn/entity/Post.hbm.xml</value></list>
		</property>
	</bean>
	<bean id="user" class="com.itzcn.entity.User">
		<property name="post" ref="post"></property>
	</bean>
	<bean id="post" class="com.itzcn.entity.Post"></bean>
	<bean id="admin" class="com.itzcn.entity.Admin"></bean>
	
	<bean id="userDao" class="com.itzcn.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="postDao" class="com.itzcn.dao.impl.PostDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminDao" class="com.itzcn.dao.impl.AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="userService" class="com.itzcn.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
		
	<bean id="adminService" class="com.itzcn.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="adminDao"></property>
	</bean>
	
		
	<bean id="postService" class="com.itzcn.service.impl.PostServiceImpl">
		<property name="postDao" ref="postDao"></property>
	</bean>
</beans>