#login-container {
	MARGIN: 10px 25px 0px 0px; WIDTH: 360px
}
.login {
	PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #fff; PADDING-LEFT: 25px; WIDTH: 310px; PADDING-RIGHT: 25px; FONT-FAMILY: 'Î¢ÈíÑÅºÚ'; FONT-SIZE: 13px; PADDING-TOP: 0px
}
.login .error-tip {
	MARGIN: 10px 0px 0px 45px; HEIGHT: 15px; COLOR: #dd4b39
}
.login FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.login TABLE {
	BORDER-RIGHT-WIDTH: 0px; BORDER-SPACING: 0; WIDTH: 100%; BORDER-COLLAPSE: collapse; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
.login TABLE TD {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 56px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 0px
}
.login .input-box {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 8px; MARGIN: 0px; PADDING-LEFT: 8px; WIDTH: 248px; PADDING-RIGHT: 8px; FONT-SIZE: 15px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 8px
}
.login INPUT[type='text'] {
	border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.login INPUT[type='password'] {
	border-radius: 2px; box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}
.login LABEL {
	FONT-SIZE: 14px
}
.login A {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.login A:hover {
	TEXT-DECORATION: underline
}
.login .autologin-container LABEL {
	FLOAT: left
}
.login .autologin-container INPUT {
	FLOAT: left
}
.login .login-auto-label {
	LINE-HEIGHT: 1; COLOR: #666; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.login .login-auto {
	PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 0px; PADDING-LEFT: 0px; WIDTH: 13px; PADDING-RIGHT: 0px; HEIGHT: 13px; PADDING-TOP: 0px; _height: 13px; _width: 13px
}
.login-forget-password {
	LINE-HEIGHT: 1; FLOAT: right; COLOR: #666; MARGIN-RIGHT: 0px
}
#login-submit {
	PADDING-BOTTOM: 5px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND-COLOR: #5fba1d; PADDING-LEFT: 20px; WIDTH: 120px; PADDING-RIGHT: 20px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff; FONT-SIZE: 20px; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 5px; border-radius: 2px; box-shadow: 1px 1px 2px #333; -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: 1px 1px 2px #333; -webkit-box-shadow: 1px 1px 2px #333
}
#login-submit:hover {
	BACKGROUND-COLOR: #6dca22
}
#login-register {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: #f5f5f6; PADDING-LEFT: 20px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 20px; COLOR: #666; MARGIN-LEFT: 20px; FONT-SIZE: 20px; BORDER-TOP: #e5e5e5 1px solid; CURSOR: pointer; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 5px; border-radius: 2px; box-shadow: 1px 1px 2px #666; -moz-border-radius: 2px; -webkit-border-radius: 2px; -moz-box-shadow: 1px 1px 2px #666; -webkit-box-shadow: 1px 1px 2px #666
}
#login-register:hover {
	BORDER-BOTTOM-COLOR: #d9d9d9; BORDER-TOP-COLOR: #d9d9d9; BACKGROUND: #efeeee; BORDER-RIGHT-COLOR: #d9d9d9; BORDER-LEFT-COLOR: #d9d9d9
}
.third-part-login {
	MARGIN: 30px 0px 0px 70px
}
.third-part-login A {
	/*BACKGROUND-IMAGE: url(//web.kuaipan.cn/static/themes/images/sns.png?v=1);*/ LINE-HEIGHT: 28px; PADDING-LEFT: 18px; DISPLAY: inline-block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 28px
}
#login-by-qq {
	BACKGROUND-POSITION: 0px -169px; COLOR: #666
}
#login-by-sina {
	BACKGROUND-POSITION: 0px -32px; COLOR: #666; MARGIN-LEFT: 15px
}
