BODY {
	/*BACKGROUND: url(../images/bgr.png)*/
}
.bgt {
	/*BACKGROUND: url(../images/indexbg.png?v=1) repeat-x*/
}
.bg {
	/*BACKGROUND: url(../images/indexbg.png?v=1) repeat-x*/
}
header {
	MARGIN-BOTTOM: 30px; HEIGHT: 61px
}
.logo {
	WIDTH: 142px; /*BACKGROUND: url(../images/logo_o.png?v=1) no-repeat 0px 50%;*/ HEIGHT: 61px
}
.menu {
	PADDING-TOP: 20px
}
.menu A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 28px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; DISPLAY: block; COLOR: #0b739b; PADDING-TOP: 0px
}
.menu A:hover {
	BACKGROUND-COLOR: #6eb1eb; COLOR: #fff; TEXT-DECORATION: none; border-radius: 4px
}
.menu .active {
	BACKGROUND-COLOR: #6eb1eb; COLOR: #fff; TEXT-DECORATION: none; border-radius: 4px
}
.banners-mod {
	MARGIN-BOTTOM: 30px; HEIGHT: 435px
}
.banners {
	MARGIN-BOTTOM: 30px; HEIGHT: 435px
}
.banners LI {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.clients {
	TOP: 217px; RIGHT: 1px
}
.wh20 {
	MARGIN-TOP: 3px; WIDTH: 20px; HEIGHT: 20px
}
.slide {
	DISPLAY: block; TOP: 370px; RIGHT: 290px
}
.slide SPAN {
	TEXT-INDENT: -9999px; OVERFLOW: hidden; CURSOR: pointer; MARGIN-RIGHT: 15px
}
.menu .login-icon A {
	PADDING-LEFT: 40px; /*BACKGROUND: url(../images/nav_icon.png) no-repeat 20px 5px*/
}
.menu .login-icon A:hover {
	/*BACKGROUND: url(../images/nav_icon.png) #6eb1eb no-repeat 20px -20px*/
}
.menu .login-icon .active {
	/*BACKGROUND: url(../images/nav_icon.png) #6eb1eb no-repeat 20px -20px*/
}
.menu .register-icon A {
	PADDING-LEFT: 40px; /*BACKGROUND: url(../images/nav_icon.png) no-repeat 20px -47px*/
}
.menu .register-icon A:hover {
	/*BACKGROUND: url(../images/nav_icon.png) #6eb1eb no-repeat 20px -74px*/
}
.menu .register-icon .active {
	/*BACKGROUND: url(../images/nav_icon.png) #6eb1eb no-repeat 20px -74px*/
}
.ico-a {
	BACKGROUND-POSITION: 0px 2px
}
.ico-b {
	BACKGROUND-POSITION: 0px -50px
}
.ico-c {
	BACKGROUND-POSITION: 0px -50px
}
.ico-d {
	BACKGROUND-POSITION: 0px -74px
}
.cur {
	BACKGROUND-POSITION: 0px -74px
}
.ico-e {
	BACKGROUND-POSITION: 0px -95px
}
.mr36 {
	MARGIN-RIGHT: 36px
}
.mb45 {
	MARGIN-BOTTOM: 45px
}
.subbanner {
	WIDTH: 294px; DISPLAY: inline-block; /*BACKGROUND: url(../images/subbanner.png) no-repeat; */HEIGHT: 157px
}
.x1 {
	BACKGROUND-POSITION: 0px 0px
}
.x1:hover {
	BACKGROUND-POSITION: 0px -157px
}
.x2 {
	WIDTH: 296px; BACKGROUND-POSITION: 0px -315px
}
.x2:hover {
	BACKGROUND-POSITION: 0px -474px
}
.x3 {
	BACKGROUND-POSITION: 0px -634px
}
.x3:hover {
	BACKGROUND-POSITION: 0px -793px
}
footer {
	COLOR: #8f8f8f
}
footer A {
	COLOR: #8f8f8f
}
footer A:hover {
	TEXT-DECORATION: underline
}
footer H2 {
	COLOR: #5d5d5d
}
footer nav {
	BORDER-BOTTOM: #d3d3d3 1px solid; PADDING-BOTTOM: 15px
}
footer nav LI {
	MARGIN-RIGHT: 85px !important
}
footer nav .last {
	MARGIN-RIGHT: 0px !important
}
footer nav DIV {
	BORDER-LEFT: #b3b3b3 1px solid; PADDING-LEFT: 10px; MARGIN-LEFT: 10px
}
.ac-bg {
	/*BACKGROUND: url(../images/lg_bg.png) no-repeat*/
}
.ac-t {
	BACKGROUND-POSITION: 0px 0px; HEIGHT: 10px
}
.ac-b {
	BACKGROUND-POSITION: 0px -30px; HEIGHT: 25px
}
.ac-m {
	MIN-HEIGHT: 350px; /*BACKGROUND: url(../images/lg_bgs.png) repeat-y;*/ _height: 350px
}
.ac-chk {
	MARGIN-TOP: -1px; VERTICAL-ALIGN: middle
}
.login-m {
	WIDTH: 300px; PADDING-RIGHT: 50px
}
.login-img {
	PADDING-RIGHT: 60px; BORDER-RIGHT: #ccc 1px solid
}
.ml42 {
	MARGIN-LEFT: 42px
}
.pl42 {
	PADDING-LEFT: 42px
}
.ml60 {
	MARGIN-LEFT: 60px
}
.ml70 {
	MARGIN-LEFT: 70px
}
.w420 {
	WIDTH: 420px
}
.w410 {
	WIDTH: 410px
}
.w500 {
	WIDTH: 500px
}
.w510 {
	WIDTH: 510px
}
.pl90 {
	PADDING-LEFT: 90px
}
.btn-ac {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 20px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
.btn-ac:hover {
	TEXT-DECORATION: none
}
.brc {
	BORDER-RIGHT: #ccc 1px solid
}
.w320 {
	WIDTH: 320px
}
.w280 {
	WIDTH: 280px
}
.w90 {
	WIDTH: 90px
}
.ml90 {
	MARGIN-LEFT: 90px
}
.btn-gray {
	box-shadow: 1px 1px 2px #666
}
.ml110 {
	MARGIN-LEFT: 110px
}
.w440 {
	WIDTH: 450px
}
.dl-nav LI {
	WIDTH: 20%; MARGIN-RIGHT: 0px
}
.dl-nav A {
	BORDER-BOTTOM: #edeef1 1px solid; DISPLAY: block; HEIGHT: 35px; BORDER-RIGHT: #edeef1 1px solid; PADDING-TOP: 85px
}
.dl-nav A.first {
	BORDER-LEFT: #edeef1 1px solid
}
.dl-nav .cur {
	BACKGROUND-COLOR: #cee5f8
}
.dl-nav A:hover {
	COLOR: #1ba204
}
.dl-nav .cur A {
	COLOR: #1ba204
}
.dl-ico {
	/*BACKGROUND: url(../images/clients_icon_24.png) no-repeat; _background: url(../images/clients_icon_8.png) no-repeat*/
}
.dl-ico-a {
	BACKGROUND-POSITION: 64px 30px
}
.dl-ico-a:hover {
	BACKGROUND-POSITION: 64px -450px
}
.cur .dl-ico-a {
	BACKGROUND-POSITION: 64px -450px
}
.dl-ico-b {
	BACKGROUND-POSITION: 65px -57px
}
.dl-ico-b:hover {
	BACKGROUND-POSITION: 65px -537px
}
.cur .dl-ico-b {
	BACKGROUND-POSITION: 65px -537px
}
.dl-ico-c {
	BACKGROUND-POSITION: 45px -258px
}
.dl-ico-c:hover {
	BACKGROUND-POSITION: 45px -738px
}
.cur .dl-ico-c {
	BACKGROUND-POSITION: 45px -738px
}
.dl-ico-d {
	BACKGROUND-POSITION: 50px -165px
}
.dl-ico-d:hover {
	BACKGROUND-POSITION: 50px -645px
}
.cur .dl-ico-d {
	BACKGROUND-POSITION: 50px -645px
}
.dl-ico-e {
	BACKGROUND-POSITION: 57px -359px
}
.dl-ico-e:hover {
	BACKGROUND-POSITION: 57px -839px
}
.cur .dl-ico-e {
	BACKGROUND-POSITION: 57px -839px
}
.rel60 {
	HEIGHT: 60px
}
.ico-btn-f {
	WIDTH: 68px; BACKGROUND-POSITION: -2px -475px
}
.ico-btn-g {
	WIDTH: 62px; BACKGROUND-POSITION: -17px -762px
}
.ico-btn-h {
	WIDTH: 54px; BACKGROUND-POSITION: -17px -666px
}
.ico-btn-i {
	WIDTH: 62px; BACKGROUND-POSITION: -10px -860px
}
.ico-btn-j {
	WIDTH: 68px; BACKGROUND-POSITION: 0px -561px
}
.w220 {
	WIDTH: 240px
}
.pt10 {
	PADDING-TOP: 10px
}
.pannels article {
	DISPLAY: none; HEIGHT: 350px
}
.pannels .blue {
	COLOR: #1f6eb6
}
.pannels .btn-ac {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.trangle-tips-o {
	BORDER-BOTTOM: #ebe0c0 1px solid; BORDER-LEFT: #ebe0c0 1px solid; PADDING-LEFT: 10px; WIDTH: 350px; BACKGROUND: #ffefc3; BORDER-TOP: #ebe0c0 1px solid; TOP: -10px; BORDER-RIGHT: #ebe0c0 1px solid; box-shadow: inset 0 1px 1px rgba(255,255,255,.25), 5px 3px 3px rgba(128,128,128,0.3)
}
.trangle-tips-i {
	LINE-HEIGHT: 20px; BOTTOM: 9px; FONT-FAMILY: Tahoma; FONT-SIZE: 18px; LEFT: 80px
}
.trangle-tips-t {
	Z-INDEX: 998; WIDTH: 17px; HEIGHT: 18px; COLOR: #dcdcdc; TOP: 0px
}
.trangle-tips-b {
	Z-INDEX: 999; WIDTH: 17px; HEIGHT: 18px; COLOR: #fcf8c7; TOP: -1px
}
.ol-dl {
	LINE-HEIGHT: 42px; FONT-FAMILY: microsoft yahei; FLOAT: left; COLOR: #787878; MARGIN-LEFT: 30px; FONT-SIZE: 18px; TEXT-DECORATION: underline
}
.ol-dl:hover {
	COLOR: #278ff5
}
.tree-node .w300 {
	WIDTH: 250px
}
.tree-node .w80 {
	WIDTH: 80px
}
.tree-node .w50 {
	WIDTH: 30px
}
.tree-node B {
	FONT-WEIGHT: normal
}
.tree-title B {
	DISPLAY: inline-block
}
.w450 {
	WIDTH: 450px
}
.bme {
	BORDER-BOTTOM: #f2f2f2 1px solid; PADDING-BOTTOM: 15px
}
.olbox {
	OVERFLOW-Y: auto; WIDTH: 460px
}
.olbox A.fname {
	CURSOR: pointer
}
.olpreviewbox {
	BORDER-LEFT: #f2f2f2 1px solid; WIDTH: 420px
}
.olfilelist LI {
	BORDER-BOTTOM: #f2f2f2 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 11px
}
.olfilelist LI * {
	LINE-HEIGHT: 28px; DISPLAY: inline-block; HEIGHT: 28px; OVERFLOW: hidden
}
.olfilelist LI IMG {
	WIDTH: 28px; VERTICAL-ALIGN: -5px; MARGIN-RIGHT: 6px
}
.ico-type {
	LINE-HEIGHT: 28px; PADDING-LEFT: 34px; HEIGHT: 28px
}
.mr100 {
	MARGIN-RIGHT: 100px
}
.ol-tips {
	MARGIN: 5px 0px 0px 50px; WIDTH: 325px; BACKGROUND: url(../images/oltips.jpg) no-repeat; HEIGHT: 60px
}
.reportinfo {
	VERTICAL-ALIGN: -2px; MARGIN-RIGHT: 3px
}
.invite-box .bm-li {
	
}
.bm-li LI {
	BORDER-BOTTOM: #bebebe 1px dashed; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: disc; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 15px
}
.invite-box {
	PADDING-BOTTOM: 50px; /*BACKGROUND: url(../images/invite.jpg) no-repeat 90% bottom;*/ COLOR: #8e8e8e
}
.ym-btn INPUT {
	COLOR: #333
}
.image-detail {
	BORDER-BOTTOM: gray 1px solid; POSITION: absolute; BORDER-LEFT: gray 1px solid; WIDTH: 20px; DISPLAY: none; HEIGHT: 20px; BORDER-TOP: gray 1px solid; TOP: 0px; BORDER-RIGHT: gray 1px solid; LEFT: 0px
}
