<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name></display-name>
	<servlet>
		<servlet-name>Myconfig</servlet-name>
		<jsp-file>/config.jsp</jsp-file>
		<init-param>
			<param-name>hostip</param-name>
			<param-value>202.102.224.68</param-value>
		</init-param>
		<init-param>
			<param-name>port</param-name>
			<param-value>3721</param-value>
		</init-param>
		<init-param>
			<param-name>mysqlip</param-name>
			<param-value>202.102.227.68</param-value>
		</init-param>
		<init-param>
			<param-name>dbname</param-name>
			<param-value>feitcms</param-value>
		</init-param>
		<init-param>
			<param-name>dbuname</param-name>
			<param-value>hnhzkj</param-value>
		</init-param>
		<init-param>
			<param-name>dbupass</param-name>
			<param-value>heitzcn.com!@#</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Myconfig</servlet-name>
		<url-pattern>/config.jsp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
