<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	jspMVC</display-name>	
 	<filter>
		<filter-name>charsetEncodingFilter</filter-name>
		<filter-class>servlet.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>charsetEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewsServlet</servlet-name>
		<servlet-class>servlet.AddNewsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditNewsServlet</servlet-name>
		<servlet-class>
			servlet.EditNewsServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTeacherServlet</servlet-name>
		<servlet-class>
			servlet.AddTeacherServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditTeacherServlet</servlet-name>
		<servlet-class>
			servlet.EditTeacherServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>
			servlet.AddStudentServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditStudentServlet</servlet-name>
		<servlet-class>
			servlet.EditStudentServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddProjectServlet</servlet-name>
		<servlet-class>
			servlet.AddProjectServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProjectServlet</servlet-name>
		<servlet-class>
			servlet.EditProjectServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddManagerServlet</servlet-name>
		<servlet-class>
			servlet.AddManagerServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditManagerServlet</servlet-name>
		<servlet-class>
			servlet.EditManagerServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewsServlet</servlet-name>
		<url-pattern>/add_news</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditNewsServlet</servlet-name>
		<url-pattern>/edit_news</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTeacherServlet</servlet-name>
		<url-pattern>/add_teacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditTeacherServlet</servlet-name>
		<url-pattern>/edit_teacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/add_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditStudentServlet</servlet-name>
		<url-pattern>/edit_student</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddProjectServlet</servlet-name>
		<url-pattern>/add_project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProjectServlet</servlet-name>
		<url-pattern>/edit_project</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddManagerServlet</servlet-name>
		<url-pattern>/add_manager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditManagerServlet</servlet-name>
		<url-pattern>/edit_manager</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
		<taglib-uri>control</taglib-uri>
		<taglib-location>/WEB-INF/mytag.tld</taglib-location>
	</taglib>
	</jsp-config>
	
</web-app>
