<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <!-- 声明Servlet -->
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<!-- 初始化上下文对象 -->
  	<init-param>
  		<!-- 参数名称 -->
  		<param-name>contextConfigLocation</param-name>
  		<!-- 加载配置文件 -->
  		<param-value>/WEB-INF/dipatcher-servlet.xml</param-value>
  	</init-param>
  	<!-- 设置启动的优先级 -->
  	<load-on-startup>1</load-on-startup>
  </servlet>

<!-- 采用通配符映射所有的jsp类型的请求 -->
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>*.html</url-pattern>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
